@import '../vars';
@import '../templates';
@import '../headerStyle/header';
@import '../footerStyle/footer';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$font: 'Roboto', sans-serif;
$colorBackGroundGeralBright: rgb(39, 151, 255);
$colorBackGroundGeralTop: rgb(91, 123, 183);
$colorBackGroundGeral: rgba(104, 158, 212, 1);
$colorBackGroundFooter: rgba(28, 30, 33, 1);
$colorTextHome: rgb(255, 255, 255);
.header,
.main {
  background-color: rgb(241, 244, 248);
}
.header {
  height: 4vw;
}
.header__link {
  position: absolute;
  z-index: 1;
  top: 5.5vw;
  left: 8%;
  display: inline-flex;
  align-items: center;
  gap: 0.52vw;
  font-weight: 400;
  font-size: 0.73vw;
  a {
    color: rgba(60, 60, 60, 1);
    opacity: 50%;
    text-decoration: none;
  }
  p {
    color: rgba(29, 128, 235, 1);
    margin: 0;
  }
  img {
    width: 0.42vw;
  }
}
h2 {
  font: 700 2.25vw $font;
  color: $colorTitle;
  margin-bottom: 1.5vw;
}
.blue-link {
  font: inherit;
  color: rgba(29, 128, 235, 1);
  text-decoration: none;
  font-weight: 700;
}
.contacts__email {
  color: $colorSubtitle;
  text-decoration: none;
}
.main {
  padding: 5% 8% 4%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  .email {
    grid-area: 1/1/2/2;
  }
}
.contacts__media {
  display: flex;
  width: 10vw;
  justify-content: space-between;
  align-items: center;
  .contacts__social-media {
    width: 1.51vw;
    height: 1.51vw;
  }
  a:link {
    filter: grayscale(100%);
    opacity: 50%;
  }
  a:hover {
    filter: grayscale(0%);
    opacity: 100%;
  }
  .contacts__social-media_whatsapp {
    //visibility: hidden;
    display: none;
  }
}
.contacts__address {
  grid-area: 1/2/2/3;
  margin-left: 2.34vw;
  display: grid;
  grid-template-columns: 1vw 1.5fr 1vw 1fr;
  grid-template-rows: 1.6vw 2vw 1.3vw 2vw;
  gap: 0.3vw;
  font-family: $font;
  .contacts__capture {
    color: $colorTitle;
    font-size: 1.1vw;
    font-weight: 700;
    line-height: 1.3vw;
    display: grid;
    align-content: end;
  }
  .contacts__description {
    color: $colorText;
    font-size: 0.83vw;
    font-weight: 400;
    display: grid;
    align-content: start;
  }
  .contacts__img-address {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    align-self: center;
    height: 1.09vw;
    width: 0.72vw;
  }
  .contacts__capture_addres {
    grid-column: 2;
    grid-row: 1;
  }
  .contacts__description_addres {
    grid-column: 2;
    grid-row: 2;
  }
  .contacts__img-phone {
    grid-column: 3;
    grid-row: 1;
    display: grid;
    align-self: center;
    height: 1.09vw;
    width: 0.79vw;
  }
  .contacts__capture_phone {
    grid-column: 4;
    grid-row: 1;
  }
  .contacts__description_phone {
    grid-column: 4;
    grid-row: 2;
  }
  .contacts__img-time {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    align-self: center;
    height: 0.88vw;
    width: 0.88vw;
  }
  .contacts__capture_time {
    grid-column: 2;
    grid-row: 3;
  }
  .contacts__description_time {
    grid-column: 2;
    grid-row: 4;
  }
  .contacts__img-whatsapp {
    grid-column: 3;
    grid-row: 3;
    display: grid;
    align-self: center;
    height: 0.88vw;
    width: 0.88vw;
  }
  .contacts__capture_whatsapp {
    grid-column: 4;
    grid-row: 3;
  }
  .contacts__description_whatsapp {
    grid-column: 4;
    grid-row: 4;
  }
}
.location {
  height: 29vw;
  width: 100%;
}
.connectionblock {
  padding: 4% 8%;
  .connectionblock__grid {
    display: grid;
    grid-template: min-content max-content/ 1.1fr 0.9fr;
    gap: 10% 2%;
  }
  .connectionblock__text {
    grid-area: 1/1/2/2;
    font: 400 1vw $font;
    line-height: 1.5vw;
    color: $colorText;
    p:first-child {
      margin-bottom: 2vw;
    }
  }
  .connectionblock__contacts {
    grid-area: 2/1/3/2;
    margin: 0px;
    font: 400 1vw $font;
    color: rgba(20, 20, 20, 1);
    line-height: 1.5vw;
  }
  .connectionblock__form {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 1fr 3fr/ 1fr 1fr;
    gap: 10px;
  }
  .connectionblock__submit {
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
    .submit__text {
      font: 400 0.8vw $font;
      color: $colorText;
      margin-left: 1.5vw;
      margin-right: 7%;
    }
  }
}
input {
  background-color: rgba(227, 234, 242, 1);
  font: 400 1vw $font;
  color: $colorText;
  border: none;
  padding: 10px;
}
textarea {
  grid-area: 2/1/3/3;
  background-color: rgba(227, 234, 242, 1);
  font: 400 1vw $font;
  color: $colorText;
  border: none;
  padding: 10px;
  resize: none;
}
.submit__btn {
  background-color: rgba(32, 62, 117, 1);
  color: white;
  font: 700 calc(5px + 0.7vw) $font;
  height: calc(10px + 3vw);
  width: calc(200px + 5vw);
  border: none;
  cursor: pointer;
}
.footer {
  background-color: $colorBackGroundFooter;
  padding-left: 8%;
  padding-right: 8%;
}
.footer__top {
  color: white;
  width: 100%;
  height: 20vw;
  display: flex;
  justify-content: center;
  padding-top: 3vw;
  padding-bottom: 1vw;
  .footer__full {
    color: white;
    width: 85vw;
    font: 0.9vw $font;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    .footer__block1 {
      width: 23vw;
      .footer__logo {
        height: 4vw;
        top: -16px;
        .home_logo_black_img {
          width: 8vw;
        }
      }
      .footer__block1-text {
        height: 9vw;
        line-height: 1.5vw;
      }
    }
    .footer__block2 {
      .footer__block2-text {
        height: 4vw;
        font-weight: 700;
        padding-top: 0.7vw;
        font-size: 1.14vw;
      }
      .footer__block2-nav {
        padding: 0;
        width: 4vw;
        height: 9vw;
        line-height: 2.3vw;
        font-weight: 400;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          font-weight: 700;
        }
      }
    }
    .footer__block3 {
      .footer__block3-text {
        height: 4vw;
        font-weight: 700;
        padding-top: 0.7vw;
        font-size: 1.14vw;
      }
      .footer__block3-nav {
        line-height: 2.3vw;
        width: 7vw;
        height: 9vw;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          font-weight: 700;
        }
      }
    }
    .footer__block4 {
      .footer__block4-text {
        height: 4vw;
        font-weight: 700;
        padding-top: 0.7vw;
        font-size: 1.14vw;
      }
      .footer__block4-contacts {
        display: flex;
        flex-direction: column;
        width: 23vw;
        gap: 1.5vw;
        .footer__block4-tel {
          display: flex;
          .footer_top_tel_img {
            width: 0.9vw;
          }
          .footer__block4-telnumber {
            padding-left: 0.5vw;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
        .footer__block4-media {
          display: flex;
          align-items: center;
          gap: 1vw;
          .media_img {
            width: 1.51vw;
            height: 1.51vw;
            padding-right: 5%;
          }
          a:link {
            filter: grayscale(100%);
            opacity: 50%;
          }
          a:hover {
            filter: grayscale(0%);
            opacity: 100%;
          }
        }
      }
    }
  }
}
.footer__line {
  display: block;
  margin: 0 auto;
  width: 67%;
  height: 1px;
}
.footer__bottom {
  background-color: $colorBackGroundFooter;
  color: white;
  width: 100%;
  height: 5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vw;
  font: 0.9vw $font;
  p {
    text-align: center;
    &:first-child {
      margin-bottom: 0.4vw;
    }
  }
}
@media screen and (max-width: 769px) {
  .header {
    height: 5vw;
  }
  .main {
    padding: 5% 5% 4%;
    grid-template-columns: 1fr 1fr;
    .email {
      grid-area: 1/1/2/2;
    }
  }
  .contacts__address {
    grid-area: 1/2/2/3;
    margin-left: 2.34vw;
    justify-self: center;
    display: grid;
    grid-template-columns: 1vw 1fr;
    grid-template-rows: 1.6vw 2vw 1.3vw 2vw;
    gap: 1vw;
    .contacts__capture {
      color: $colorTitle;
      font-size: 1.5vw;
      font-weight: 700;
      line-height: 1.3vw;
      display: grid;
      align-content: end;
    }
    .contacts__description {
      color: $colorText;
      font-size: 1.2vw;
      font-weight: 400;
      display: grid;
      align-content: start;
    }
    .contacts__img-address {
      display: none;
    }
    .contacts__capture_addres {
      display: none;
    }
    .contacts__description_addres {
      display: none;
    }
    .contacts__img-phone {
      grid-column: 1;
      grid-row: 1;
      display: grid;
      align-self: center;
      height: 1.09vw;
      width: 0.79vw;
    }
    .contacts__capture_phone {
      grid-column: 2;
      grid-row: 1;
    }
    .contacts__description_phone {
      grid-column: 2;
      grid-row: 2;
    }
    .contacts__img-time {
      display: none;
    }
    .contacts__capture_time {
      display: none;
    }
    .contacts__description_time {
      display: none;
    }
    .contacts__img-whatsapp {
      grid-column: 1;
      grid-row: 3;
      display: grid;
      align-self: center;
      height: 0.88vw;
      width: 0.88vw;
    }
    .contacts__capture_whatsapp {
      grid-column: 2;
      grid-row: 3;
    }
    .contacts__description_whatsapp {
      grid-column: 2;
      grid-row: 4;
    }
  }
  .location {
    height: 35vw;
  }
  .footer__top {
    display: none;
  }
  .footer__bottom {
    height: calc(10px + 7vw);
    font: 400 1.7vw $font;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 7vw;
  }
  h2 {
    font: 700 4.5vw $font;
  }
  .contacts__media {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: start;
    .contacts__social-media {
      width: 3vw;
      height: 3vw;
    }
  }
  .main {
    padding: 5% 5% 4%;
    grid-template: 1fr 1fr/ 1fr;
    gap: 1vw;
    .email {
      grid-area: 1/1/2/2;
    }
  }
  .contacts__social-media_whatsapp {
    //visibility: visible;
    display: inline-flex;
  }
  .contacts__address {
    grid-area: 2/1/3/2;
    margin-left: 0;
    display: grid;
    grid-template-columns: 0.15fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.3vw;
    justify-self: stretch;
    .contacts__capture {
      color: $colorTitle;
      font-size: 4vw;
      font-weight: 700;
      line-height: 1.3vw;
      display: grid;
      align-content: center;
    }
    .contacts__description {
      color: $colorText;
      font-size: 4vw;
      font-weight: 400;
      display: grid;
      align-content: center;
    }
    .contacts__img-address {
      display: none;
    }
    .contacts__capture_addres {
      display: none;
    }
    .contacts__description_addres {
      display: none;
    }
    .contacts__img-phone {
      grid-column: 1;
      grid-row: 1;
      display: grid;
      align-self: center;
      height: 4vw;
      width: 3vw;
    }
    .contacts__capture_phone {
      grid-column: 2;
      grid-row: 1;
    }
    .contacts__description_phone {
      grid-column: 3;
      grid-row: 1;
    }
    .contacts__img-time {
      display: none;
    }
    .contacts__capture_time {
      display: none;
    }
    .contacts__description_time {
      display: none;
    }
    .contacts__img-whatsapp {
      grid-column: 1;
      grid-row: 3;
      display: grid;
      align-self: center;
      height: 0.88vw;
      width: 0.88vw;
      display: none;
    }
    .contacts__capture_whatsapp {
      grid-column: 2;
      grid-row: 3;
      display: none;
    }
    .contacts__description_whatsapp {
      grid-column: 2;
      grid-row: 4;
      display: none;
    }
  }
  .location {
    height: 65vw;
  }
  .connectionblock {
    padding: 4% 5%;
    .connectionblock__grid {
      display: grid;
      grid-template: min-content min-content 1fr 0.7fr/ 1fr;
      gap: 2%;
    }
    .connectionblock__text {
      grid-area: 1/1/2/2;
      font: 400 3.5vw $font;
      line-height: 4vw;
      color: $colorText;
      p:first-child {
        margin-bottom: 2vw;
      }
    }
    .connectionblock__contacts {
      grid-area: 2/1/3/2;
      margin: 0px;
      font: 400 3.5vw $font;
      color: rgba(20, 20, 20, 1);
      line-height: 4vw;
    }
    .connectionblock__form {
      grid-area: 3/1/4/2;
      display: grid;
      grid-template: 1fr 1fr 3fr/ 1fr;
      gap: 10px;
    }
    .connectionblock__submit {
      grid-area: 4/1/5/2;
      display: block;
      align-items: center;
      .submit__text {
        font: 400 3.5vw $font;
        color: $colorText;
        margin: 1.5vw 0;
      }
    }
  }
  input {
    background-color: rgba(227, 234, 242, 1);
    font: 400 4vw $font;
    color: $colorText;
    border: none;
    padding: 10px;
  }
  textarea {
    grid-area: 3/1/4/2;
    background-color: rgba(227, 234, 242, 1);
    font: 400 4vw $font;
    color: $colorText;
    border: none;
    padding: 10px;
    resize: none;
  }
  .submit__btn {
    background-color: rgba(32, 62, 117, 1);
    color: white;
    font: 700 calc(5px + 3vw) $font;
    height: calc(50px + 5vw);
    width: calc(200px + 5vw);
    border: none;
    cursor: pointer;
    margin: 0 auto;
  }
  .footer__top {
    display: none;
  }
  .footer__bottom {
    height: 20vw;
    font: 400 3vw $font;
  }
}
