@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open {
  display: flex !important;
}

.header {
  color: rgb(255, 255, 255);
}
.header .header-top {
  display: flex;
  background-image: url("../../images/aboutImg/header-top-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.header .header-top__logo {
  display: flex;
  align-items: center;
}
.header .header-top__menu {
  display: flex;
  margin-left: auto;
}
.header .header-top__nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}
.header .header-top__nav a:hover {
  font-weight: 700;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right .right__phone_big,
.right .right__phone_small,
.right .right__lupa img {
  display: flex;
  align-items: center;
}

.languages {
  display: flex;
  align-items: center;
}
.languages__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(64, 82, 103);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  gap: 1vw;
}
.languages__item_rus {
  color: rgb(255, 255, 255);
}
.languages__item_rus p {
  margin: 0;
}
.languages__choice {
  position: relative;
  display: flex;
  align-items: center;
}
.languages__list {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 0.5vw;
  list-style: none;
  z-index: 1;
}
.languages li:first-child {
  margin-bottom: 0.5vw;
}
.languages__list.show {
  display: block;
  right: 0px;
}
.languages__vector:hover {
  cursor: pointer;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/aboutImg/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}
.header-bottom p {
  margin: 0;
}
.header-bottom__link {
  position: absolute;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  z-index: 5;
}
.header-bottom__link a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.header-bottom__text {
  text-align: center;
  vertical-align: middle;
}
.header-bottom__title {
  font-weight: 700;
}
.header-bottom__lead {
  font-weight: 400;
}

@media (min-width: 1024px) {
  .header {
    height: 26vw;
  }
  .header .header-top {
    padding: 0 8%;
    height: 4.16vw;
  }
  .header .header-top__logo img {
    width: 10vw;
  }
  .header .header-top__menu {
    width: 60vw;
  }
  .header .header-top__nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header-top__nav a {
    width: 8vw;
    font-size: 1vw;
  }
  .right {
    margin-left: auto;
    width: 35%;
  }
  .right .right__phone_big {
    width: 10vw;
  }
  .right .right__phone_small {
    display: none;
  }
  .right .right__line {
    height: 1.3vw;
  }
  .right .right__lupa img {
    width: 1.3vw;
  }
  .languages {
    gap: 0.6vw;
    font-size: 1vw;
  }
  .languages__item {
    gap: 1vw;
    font-size: 1vw;
  }
  .languages__item img {
    width: 1.1vw;
  }
  .languages__list.show {
    top: 3vw;
  }
  .header-bottom {
    height: 21.84vw;
  }
  .header-bottom__link {
    top: 6vw;
    left: 8%;
    gap: 0.52vw;
    font-size: 1vw;
  }
  .header-bottom__link img {
    width: 0.42vw;
  }
  .header-bottom__text {
    gap: 2.5vw;
    width: 60vw;
  }
  .header-bottom__title {
    padding-bottom: 2vw;
    font-size: 2.5vw;
  }
  .header-bottom__lead {
    font-size: 1.2vw;
    line-height: 1.8vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 26.5vw;
  }
  .header .header-top {
    padding: 0 8%;
    height: 4.5vw;
  }
  .header .header-top__logo img {
    width: 11vw;
  }
  .header .header-top__menu {
    width: 60vw;
  }
  .header .header-top__nav {
    width: 34vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header-top__nav a {
    font: 1.1vw "Roboto", sans-serif;
  }
  .right {
    margin-left: auto;
    width: 24vw;
  }
  .right .right__phone_big {
    max-width: 10.5vw;
  }
  .right .right__phone_small {
    display: none;
  }
  .right .right__line {
    height: 1.3vw;
  }
  .right .right__lupa img {
    width: 1.3vw;
  }
  .languages {
    gap: 0.6vw;
  }
  .languages__item {
    font-size: 1.1vw;
    gap: 1vw;
  }
  .languages__item img {
    width: 1.5vw;
  }
  .languages__list.show {
    top: 3vw;
  }
  .header-bottom {
    height: 22vw;
  }
  .header-bottom__link {
    top: 6vw;
    left: 8%;
    gap: 0.52vw;
    font-size: 1.1vw;
  }
  .header-bottom__link img {
    width: 0.42vw;
  }
  .header-bottom__text {
    gap: 2.5vw;
    width: 60vw;
  }
  .header-bottom__title {
    padding-bottom: 2vw;
    font-size: 2.5vw;
  }
  .header-bottom__lead {
    font-size: 1.3vw;
    line-height: 1.5vw;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .header {
    height: 30vw;
  }
  .header .header-top {
    padding: 0 4%;
    height: 7vw;
  }
  .header .header-top__logo {
    width: 15%;
  }
  .header .header-top__logo img {
    max-width: 100%;
  }
  .header .header-top__menu {
    width: 75%;
  }
  .header .header-top__nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header-top__nav a {
    font: 1.5vw "Roboto", sans-serif;
  }
  .right {
    margin-left: auto;
    width: 23%;
  }
  .right .right__contact-phone .right__phone_big {
    display: none;
  }
  .right .right__contact-phone .right__phone_small {
    width: 3vw;
  }
  .right .right__line {
    display: none;
  }
  .right .right__lupa img {
    width: 2.5vw;
  }
  .languages {
    gap: 1.5vw;
  }
  .languages__item {
    font-size: 1.5vw;
  }
  .languages__item img {
    width: 2vw;
  }
  .languages__item_rus p {
    display: none;
  }
  .languages__list.show {
    top: 5vw;
  }
  .header-bottom {
    height: 22vw;
  }
  .header-bottom__link {
    top: 8vw;
    left: 4%;
    gap: 0.52vw;
    font-size: 1.5vw;
  }
  .header-bottom__link img {
    width: 0.7vw;
  }
  .header-bottom__text {
    gap: 2vw;
    width: 70%;
  }
  .header-bottom__title {
    padding-bottom: 2vw;
    font-size: 2.5vw;
  }
  .header-bottom__lead {
    font-size: 1.7vw;
    line-height: 2vw;
  }
}
@media (max-width: 499px) {
  .header {
    height: 34vw;
  }
  .header .header-top {
    padding: 0 4%;
    height: 8vw;
  }
  .header .header-top__logo {
    width: 20%;
  }
  .header .header-top__logo img {
    max-width: 100%;
  }
  .header .header-top__menu {
    align-items: center;
    flex-direction: row-reverse;
    width: 30vw;
  }
  .header .header-top__nav {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    top: 8vw;
    right: 0;
    z-index: 10;
    padding: 4vw 4vw;
    height: -moz-max-content;
    height: max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: rgba(32, 62, 117, 0.9);
    animation: burgerAnimation 0.4s;
  }
  .header .header-top__nav a {
    font-size: 2.5vw;
    padding-bottom: 2vw;
  }
  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .burger {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    width: 5vw;
    height: 40%;
  }
  .burger span {
    height: 1.5px;
    width: 80%;
    transform: scale(1);
    background-color: rgb(255, 255, 255);
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .burger:hover {
    cursor: pointer;
  }
  .burger:active span {
    background-color: rgb(16, 36, 65);
  }
  .right {
    margin-right: auto;
    width: 20vw;
  }
  .right .right__contact-phone .right__phone_big {
    display: none;
  }
  .right .right__contact-phone .right__phone_small {
    width: 3vw;
  }
  .right .right__line {
    display: none;
  }
  .right .right__lupa img {
    width: 2.5vw;
  }
  .languages {
    gap: 1.5vw;
  }
  .languages__item {
    font-size: 2vw;
  }
  .languages__item img {
    width: 2.5vw;
  }
  .languages__item_rus p {
    display: none;
  }
  .languages__list.show {
    top: 5.5vw;
  }
  .header-bottom {
    height: 26vw;
  }
  .header-bottom__link {
    top: 9.5vw;
    left: 4%;
    gap: 1vw;
    font-size: 2vw;
  }
  .header-bottom__link img {
    width: 0.8vw;
  }
  .header-bottom__text {
    gap: 2vw;
    width: 90%;
  }
  .header-bottom__title {
    padding-bottom: 2vw;
    font-size: 3.5vw;
  }
  .header-bottom__lead {
    font-size: 2.2vw;
    line-height: 3vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  font: "Roboto", sans-serif;
  background-color: rgb(28, 30, 33);
  color: rgb(255, 255, 255);
}
.footer .footer-top {
  width: 100%;
  display: grid;
}
.footer .footer-top .footer-top__title h6 {
  margin: 0;
}
.footer .footer-top .footer-top__title p {
  margin: 0;
}
.footer .footer-top a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer .footer-top .footer-top__content-tel {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.footer .footer-top .content-media {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  align-items: center;
}

.footer__line {
  display: flex;
  width: 70%;
  height: 1px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 500px) {
  .footer-top {
    grid-template-columns: 2fr 0.7fr 0.7fr 1.7fr;
    grid-template-rows: 1fr;
  }
  .footer-top .footer-top__block {
    display: flex;
    flex-direction: column;
  }
  .footer-top .footer-top__block .footer-top__choice {
    display: none;
  }
  .footer-top .footer-top__block .footer-top__title {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .footer-top .footer-top__block .footer-top__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
  }
  .footer-top .footer-top__block .footer-top__content_nav a:hover {
    font-weight: 700;
  }
  .footer-top .footer-top__block .footer-top__content-tel img {
    width: 1vw;
  }
  .footer-top .footer-top__block .content-media a:link {
    filter: grayscale(100%);
    opacity: 50%;
  }
  .footer-top .footer-top__block .content-media a:hover {
    filter: grayscale(0%);
    opacity: 100%;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 5vh 8% 0 8%;
  }
  .footer-top {
    height: 80%;
    gap: 9%;
  }
  .footer-top .footer-top__block {
    gap: 1vw;
  }
  .footer-top .footer-top__block .footer-top__title {
    height: 30%;
  }
  .footer-top .footer-top__block .footer-top__title h6 {
    font-size: 1.2vw;
  }
  .footer-top .footer-top__block .footer-top__content {
    height: 70%;
    font-size: 1vw;
  }
  .footer-top .footer-top__block .footer-top__title_logo img {
    width: 34%;
  }
  .footer-top .footer-top__block .content-media {
    width: 30%;
  }
  .footer-top .footer-top__block .content-media__social {
    width: 1.51vw;
    height: 1.51vw;
  }
  .footer__line {
    margin: 3rem auto 0;
  }
  .footer-bottom {
    padding: 1.5vw 0;
    height: 20%;
    font-size: 0.9vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 2.5vw 8% 0 8%;
  }
  .footer-top {
    height: 80%;
    gap: 5%;
  }
  .footer-top .footer-top__block {
    gap: 1vw;
  }
  .footer-top .footer-top__block .footer-top__title {
    height: 30%;
  }
  .footer-top .footer-top__block .footer-top__title h6 {
    font-size: 1.3vw;
  }
  .footer-top .footer-top__block .footer-top__title_logo img {
    width: 34%;
  }
  .footer-top .footer-top__block .footer-top__content {
    height: 70%;
    font-size: 1.1vw;
  }
  .footer-top .footer-top__block .content-media {
    width: 30%;
  }
  .footer-top .footer-top__block .content-media__social {
    width: 1.51vw;
    height: 1.51vw;
  }
  .footer__line {
    margin: 3vw auto 0;
  }
  .footer-bottom {
    padding: 1.5vw 0;
    height: 20%;
    font-size: 1vw;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .footer {
    padding: 0 4%;
  }
  .footer-top {
    height: 80%;
    gap: 4%;
  }
  .footer-top .footer-top__block .footer-top__title {
    height: 35%;
  }
  .footer-top .footer-top__block .footer-top__title h6 {
    font-size: 1.5vw;
  }
  .footer-top .footer-top__block .footer-top__content {
    height: 55%;
    font-size: 1.4vw;
    line-height: 2vw;
  }
  .footer-top .footer-top__block .footer-top__title_logo img {
    max-height: 70%;
  }
  .footer-top .footer-top__block .content-media {
    width: 40%;
  }
  .footer-top .footer-top__block .content-media__social {
    width: 2.5vw;
    height: 2.5vw;
  }
  .footer__line {
    margin: 0 auto;
  }
  .footer-bottom {
    padding: 1vw 0;
    height: 20%;
    font-size: 1.2vw;
  }
}
@media (max-width: 499px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 1vw 4%;
  }
  .footer-top {
    height: 70%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vw;
  }
  .footer-top__block_1 {
    display: none;
  }
  .footer-top__block_2, .footer-top__block_3, .footer-top__block_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-top__title h6 {
    font-size: 3vw;
    font-weight: normal;
  }
  .footer-top__choice {
    position: relative;
    display: flex;
    align-items: center;
  }
  .footer-top__vector {
    width: 2.5vw;
  }
  .footer-top__content-choice {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    gap: 2.5vw;
    list-style: none;
    z-index: 1;
    font-size: 3vw;
    font-weight: 400;
    background-color: rgb(28, 30, 33);
  }
  .footer-top__content-choice.show {
    display: flex;
    right: 0;
    padding: 2vw;
  }
  .footer-top__content-choice.show a:active {
    font-weight: 700;
  }
  .footer-top__content-choice_1 {
    bottom: 30px;
  }
  .footer-top__content-choice_2 {
    bottom: 52px;
  }
  .footer-top__content-choice_3 {
    bottom: 80px;
  }
  .footer-top__vector:active {
    background-color: black;
  }
  .footer-top__content {
    display: none;
  }
  .footer-top__content-tel img {
    width: 2vw;
  }
  .content-media {
    display: flex;
    width: 80%;
    flex-basis: 25%;
    justify-content: space-between;
    align-items: center;
  }
  .content-media__social {
    width: 4.5vw;
    height: 4.5vw;
  }
  .footer__line {
    margin: 1vw auto 0;
  }
  .footer-bottom {
    padding: 1vw 0;
    height: 30%;
    font-size: 1.7vw;
  }
}
.main-container {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.subtitle {
  font-size: 2.3vw;
  color: rgb(16, 36, 65);
  line-height: 2.31vw;
  font-weight: 700;
  text-align: center;
}

.subtitle_left {
  text-align: left;
}

.main-about {
  width: 100%;
  background-color: rgb(241, 244, 248);
}
.main-about .about-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 27vw;
}
.main-about .about-wrap__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-about .about-wrap__right {
  overflow: hidden;
}
.main-about .about-wrap__img {
  height: auto;
}
.main-about .about-wrap__text {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 0.5vw;
  font-weight: 400;
  color: rgb(64, 82, 103);
}
.main-about .about-wrap__text::-webkit-scrollbar {
  width: 4px;
  height: 20px;
  background-color: rgb(232, 236, 241);
}
.main-about .about-wrap__text::-webkit-scrollbar-thumb {
  background-color: rgb(32, 61, 117);
}
.main-about .about-wrap__text::-moz-scrollbar {
  width: 4px;
  height: 20px;
  background-color: rgb(232, 236, 241);
}
.main-about .about-wrap__text::-moz-scrollbar-thumb {
  background-color: rgb(32, 61, 117);
}
.main-about .about-wrap__text-p_mb {
  margin-bottom: 2vw;
}
.main-about .about-wrap__gradient {
  position: relative;
  bottom: 110px;
  width: 99%;
  height: 110px;
  background: linear-gradient(180deg, rgba(241, 244, 248, 0), rgb(241, 244, 248) 100%);
}

.main-principles {
  width: 100%;
  background-color: rgb(241, 244, 248);
}
.main-principles .principles-wrap {
  display: grid;
  margin-top: 5%;
}
.main-principles .principles-wrap__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  padding: 2vw;
  background-color: rgb(255, 255, 255);
}
.main-principles .principles-wrap__title {
  font-size: 1.2vw;
  font-weight: 700;
  color: rgb(20, 20, 20);
  margin: 0;
}
.main-principles .principles-wrap__text {
  font-weight: 400;
  color: rgb(64, 82, 103);
  margin: 0;
}

.main-sertificates-hystory {
  background-image: url("../../images/aboutImg/sertificate-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-sertificates-hystory .sertificates-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-sertificates-hystory .sertificates-wrap__img {
  max-width: 100%;
}
.main-sertificates-hystory .sertificates-wrap__text {
  font-weight: 400;
  color: rgb(64, 82, 103);
}
.main-sertificates-hystory .history-wrap {
  padding: 0 8% 4%;
}
.main-sertificates-hystory .history-wrap__hr {
  background-color: rgb(255, 255, 255);
  border: none;
}
.main-sertificates-hystory .history-wrap__container {
  display: flex;
  gap: 2vw;
}
.main-sertificates-hystory .history-wrap__text {
  font-weight: 400;
  color: rgb(64, 82, 103);
}

.main-gradient {
  position: relative;
  margin-top: -3.5vw;
  z-index: 5;
  width: 100%;
  height: 6vw;
  background: linear-gradient(180deg, rgba(241, 244, 248, 0), rgb(241, 244, 248) 100%);
}
.main-gradient img {
  max-height: 100%;
  width: 100%;
}

.main-employees-partners {
  background-color: rgb(241, 244, 248);
}
.main-employees-partners .employees {
  display: grid;
}
.main-employees-partners .employees__item {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.main-employees-partners .employees__img {
  max-width: 100%;
}
.main-employees-partners .employees__name {
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  color: black;
}
.main-employees-partners .employees__position {
  font-weight: 400;
  color: rgb(64, 82, 103);
  margin: 0;
}
.main-employees-partners .partners__item:link {
  filter: grayscale(100%);
  opacity: 30%;
}
.main-employees-partners .partners__item:hover {
  filter: grayscale(0%);
  opacity: 100%;
}
.main-employees-partners .partners__item:active {
  filter: grayscale(0%);
  opacity: 100%;
}

.location {
  position: relative;
}
.location .contacts {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 5px 5px rgba(241, 244, 248, 0.5);
}
.location .contacts .contacts__email {
  font-weight: 700;
  color: rgb(32, 62, 117);
  text-decoration: none;
}
.location .contacts .contacts__address {
  display: grid;
  width: 93%;
}
.location .contacts .contacts__address .contacts__address-item {
  display: flex;
}
.location .contacts .contacts__address .contacts__address-item .info {
  padding-left: 4%;
  width: 94%;
}
.location .contacts .contacts__address .contacts__capture {
  font-weight: 700;
  color: rgb(16, 36, 65);
}
.location .contacts .contacts__address .contacts__description {
  font-weight: 400;
}

.contacts__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(223, 223, 223);
}
.contacts__footer .contacts__media {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  align-items: center;
}
.contacts__footer .contacts__media .contacts__social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts__footer .contacts__media a:link {
  filter: grayscale(100%);
  opacity: 50%;
}
.contacts__footer .contacts__media a:hover {
  filter: grayscale(0%);
  opacity: 100%;
}
.contacts__footer .contacts__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  line-height: 2.91vw;
  font-weight: 700;
  background-color: rgb(32, 62, 117);
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .main-about {
    padding: 8%;
  }
  .about-wrap__left {
    width: 17%;
  }
  .about-wrap__img {
    max-width: 100%;
  }
  .about-wrap__right {
    width: 80%;
  }
  .about-wrap__text {
    font-size: 1.4vw;
  }
  .main-principles {
    padding: 0 8% 8%;
  }
  .main-principles .principles-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5vw;
  }
  .main-principles .principles-wrap__img {
    max-height: 4vw;
    max-width: 15%;
  }
  .main-principles .principles-wrap__title {
    font-size: 1.2vw;
  }
  .main-principles .principles-wrap__text {
    font-size: 1.2vw;
    line-height: 1.5vw;
  }
  .main-sertificates-hystory .sertificates-wrap {
    padding: 5% 8%;
  }
  .main-sertificates-hystory .sertificates-wrap__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw 0;
    gap: 2.5vw;
  }
  .main-sertificates-hystory .sertificates-wrap__items {
    display: flex;
    gap: 1vw;
  }
  .main-sertificates-hystory .sertificates-wrap__text {
    font-size: 1.2vw;
    line-height: 1.5vw;
  }
  .main-sertificates-hystory .history-wrap {
    padding: 0 8% 4%;
  }
  .main-sertificates-hystory .history-wrap__hr {
    margin: 0;
    margin-top: 6vw;
    margin-bottom: -2.7vw;
    width: 100%;
    height: 0.5vw;
    z-index: -1;
  }
  .main-sertificates-hystory .history-wrap__container {
    justify-content: space-between;
    z-index: 1;
  }
  .main-sertificates-hystory .history-wrap__img {
    margin-bottom: 1.5vw;
    width: 5vw;
  }
  .main-sertificates-hystory .history-wrap__text {
    font-size: 1vw;
  }
  .main-employees-partners {
    padding: 0 8% 8%;
  }
  .main-employees-partners .employees {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vw;
    padding: 4% 0 8%;
  }
  .main-employees-partners .employees__name {
    font-size: 1.6vw;
  }
  .main-employees-partners .employees__position {
    font-size: 1.4vw;
  }
  .main-employees-partners .partners {
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    height: 4vw;
  }
  .main-employees-partners .partners__img {
    max-height: 100%;
  }
  .location {
    height: 36.96vw;
  }
  .location .contacts {
    position: absolute;
    top: 12.5%;
    left: 8vw;
    width: 40%;
    height: 63%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px 5px rgba(241, 244, 248, 0.5);
  }
  .location .contacts .contacts__title {
    padding-top: 1.82vw;
    padding-left: 2.34vw;
    margin-bottom: 1vw;
  }
  .location .contacts .contacts__title .subtitle_contacts {
    text-align: left;
  }
  .location .contacts .contacts__title .contacts__email {
    font-size: 1.87vw;
    line-height: 2.44vw;
  }
  .location .contacts .contacts__address {
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 2.34vw;
    height: 10vw;
  }
  .location .contacts .contacts__address .contacts__img_top {
    width: 1.1vw;
    height: 1.2vw;
  }
  .location .contacts .contacts__address .contacts__img_bottom {
    width: 1.1vw;
    height: 1.2vw;
  }
  .location .contacts .contacts__address .contacts__capture {
    margin: 0 0 0.3vw;
    font-size: 1.2vw;
  }
  .location .contacts .contacts__address .contacts__description {
    font-size: 1vw;
  }
  .location .contacts .contacts__footer {
    padding: 0.94vw 2.34vw;
  }
  .location .contacts .contacts__footer .contacts__social-media {
    width: 1.7vw;
    height: 1.7vw;
  }
  .location .contacts .contacts__footer .contacts__button {
    width: 11.14vw;
    height: 2.91vw;
    font-size: 0.92vw;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .subtitle {
    font-size: 2.6vw;
  }
  .main-about {
    padding: 4%;
  }
  .about-wrap__left {
    width: 17%;
  }
  .about-wrap__img {
    max-width: 90%;
  }
  .about-wrap__right {
    width: 80%;
  }
  .about-wrap__text {
    font-size: 1.6vw;
  }
  .main-principles {
    padding: 0 4% 4%;
  }
  .main-principles .principles-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3vw;
  }
  .main-principles .principles-wrap__img {
    max-height: 5vw;
    max-width: 15%;
  }
  .main-principles .principles-wrap__title {
    font-size: 1.8vw;
  }
  .main-principles .principles-wrap__text {
    font-size: 1.5vw;
    line-height: 1.7vw;
  }
  .main-sertificates-hystory .sertificates-wrap {
    padding: 4% 4%;
  }
  .main-sertificates-hystory .sertificates-wrap__container {
    display: grid;
    grid-template-columns: 27% 73%;
    padding: 3vw 0 2vw;
    gap: 2vw;
  }
  .main-sertificates-hystory .sertificates-wrap__items {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .main-sertificates-hystory .sertificates-wrap__item {
    height: 15vw;
  }
  .main-sertificates-hystory .sertificates-wrap__text {
    padding-top: 3vw;
    font-size: 1.8vw;
    line-height: 3vw;
  }
  .main-sertificates-hystory .history-wrap {
    padding: 0 4% 4%;
    height: 100%;
  }
  .main-sertificates-hystory .history-wrap__hr {
    position: absolute;
    margin-left: 3.3vw;
    margin-top: 3vw;
    width: 0.7vw;
    height: 50vw;
    z-index: 0;
  }
  .main-sertificates-hystory .history-wrap__container {
    flex-direction: column;
    margin-top: 3vw;
    z-index: 2;
  }
  .main-sertificates-hystory .history-wrap__item {
    display: flex;
    align-items: center;
    gap: 2vw;
    z-index: 2;
  }
  .main-sertificates-hystory .history-wrap__img {
    width: 7vw;
  }
  .main-sertificates-hystory .history-wrap__text {
    font-size: 1.8vw;
  }
  .main-employees-partners {
    padding: 0 4% 8%;
  }
  .main-employees-partners .employees {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vw;
    padding: 4% 0 8%;
  }
  .main-employees-partners .employees__name {
    font-size: 2vw;
  }
  .main-employees-partners .employees__position {
    font-size: 1.7vw;
  }
  .main-employees-partners .partners {
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    height: 4vw;
  }
  .main-employees-partners .partners__img {
    max-height: 100%;
  }
  .location {
    height: 50vw;
  }
  .location .contacts {
    top: 10%;
    left: 4%;
    width: 55%;
    height: 67%;
  }
  .location .contacts .contacts__title {
    display: flex;
    align-items: center;
    padding: 2.34vw 2.34vw 0;
    margin-bottom: 3vw;
    gap: 5vw;
  }
  .location .contacts .contacts__title .contacts__email {
    font-size: 2vw;
    line-height: 2.44vw;
  }
  .location .contacts .contacts__address {
    grid-template-columns: 55% 45%;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 2.34vw;
    gap: 1.5vw;
    height: 60%;
  }
  .location .contacts .contacts__address .contacts__img_top {
    width: 1.5vw;
    height: 1.7vw;
  }
  .location .contacts .contacts__address .contacts__img_bottom {
    width: 1.5vw;
    height: 1.5vw;
  }
  .location .contacts .contacts__address .contacts__capture {
    margin: 0 0 0.3vw;
    font-size: 2vw;
  }
  .location .contacts .contacts__address .contacts__description {
    font-size: 1.8vw;
  }
  .location .contacts .contacts__footer {
    padding: 1vw 2.34vw;
  }
  .location .contacts .contacts__footer .contacts__social-media {
    width: 2.2vw;
    height: 2.2vw;
  }
  .location .contacts .contacts__footer .contacts__button {
    width: 12.14vw;
    height: 3.5vw;
    font-size: 1.2vw;
  }
}
@media (max-width: 499px) {
  .subtitle {
    font-size: 4vw;
  }
  .main-about {
    padding: 3% 2%;
  }
  .subtitle_left {
    font-size: 3.5vw;
  }
  .about-wrap__left {
    align-items: center;
    width: 22%;
  }
  .about-wrap__img {
    padding-bottom: 1vw;
    max-width: 80%;
  }
  .about-wrap__right {
    width: 75%;
  }
  .about-wrap__text {
    font-size: 2.4vw;
  }
  .main-principles {
    padding: 4% 2%;
  }
  .main-principles .principles-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3vw;
  }
  .main-principles .principles-wrap__img {
    max-height: 8vw;
    max-width: 8vw;
  }
  .main-principles .principles-wrap__title {
    font-size: 3vw;
  }
  .main-principles .principles-wrap__text {
    font-size: 2.5vw;
    line-height: 3vw;
  }
  .main-sertificates-hystory .sertificates-wrap {
    padding: 4% 2%;
  }
  .main-sertificates-hystory .sertificates-wrap__container {
    display: flex;
    flex-direction: column;
    padding: 3vw 0 0;
  }
  .main-sertificates-hystory .sertificates-wrap__items {
    display: flex;
    justify-content: space-between;
  }
  .main-sertificates-hystory .sertificates-wrap__item {
    height: 22vw;
  }
  .main-sertificates-hystory .sertificates-wrap__text {
    padding-top: 3vw;
    font-size: 2.6vw;
    line-height: 3vw;
  }
  .main-sertificates-hystory .history-wrap {
    padding: 0 2% 2%;
    height: 100%;
  }
  .main-sertificates-hystory .history-wrap__hr {
    position: absolute;
    margin-left: 4.5vw;
    margin-top: 3vw;
    width: 0.7vw;
    height: 60vw;
    z-index: 0;
  }
  .main-sertificates-hystory .history-wrap__container {
    flex-direction: column;
    margin-top: 3vw;
    z-index: 2;
  }
  .main-sertificates-hystory .history-wrap__item {
    display: flex;
    align-items: center;
    gap: 2vw;
    z-index: 2;
  }
  .main-sertificates-hystory .history-wrap__img {
    width: 10vw;
  }
  .main-sertificates-hystory .history-wrap__text {
    font-size: 2.5vw;
  }
  .main-gradient {
    display: none;
  }
  .main-employees-partners {
    padding: 4% 2%;
  }
  .main-employees-partners .employees {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 6vw;
    padding: 4%;
  }
  .main-employees-partners .employees__name {
    font-size: 3vw;
  }
  .main-employees-partners .employees__position {
    font-size: 2.5vw;
  }
  .main-employees-partners .partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    place-items: center;
    margin-top: 4%;
    gap: 3vw;
  }
  .main-employees-partners .partners__img {
    max-height: 8vw;
    max-width: 10vw;
  }
  .location {
    height: 80vw;
  }
  .location .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 10%;
    left: 4%;
    width: 70%;
    height: 80%;
  }
  .location .contacts .contacts__title {
    padding: 2.34vw 2.34vw 0;
    margin-bottom: 1vw;
    gap: 4vw;
  }
  .location .contacts .contacts__title .subtitle_contacts {
    font-size: 4vw;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .location .contacts .contacts__title .contacts__email {
    font-size: 3vw;
    line-height: 2.44vw;
  }
  .location .contacts .contacts__address {
    grid-template-rows: repeat(4, 1fr);
    padding-left: 2.34vw;
    row-gap: 1.5vw;
    height: 60%;
  }
  .location .contacts .contacts__address .contacts__img_top {
    width: 2.5vw;
    height: 3vw;
  }
  .location .contacts .contacts__address .contacts__img_bottom {
    width: 2.5vw;
    height: 2.5vw;
  }
  .location .contacts .contacts__address .contacts__capture {
    margin: 0 0 1vw;
    font-size: 3vw;
  }
  .location .contacts .contacts__address .contacts__description {
    font-size: 2.5vw;
  }
  .location .contacts .contacts__footer {
    padding: 1vw 2.34vw;
  }
  .location .contacts .contacts__footer .contacts__social-media {
    width: 4vw;
    height: 4vw;
  }
  .location .contacts .contacts__footer a:active {
    filter: grayscale(0%);
    opacity: 100%;
  }
  .location .contacts .contacts__footer .contacts__button {
    width: 26vw;
    height: 6vw;
    font-size: 2.5vw;
  }
}/*# sourceMappingURL=aboutStyle.css.map */