@import '../vars';
@import '../templates';
@import '../headerStyle/header';
@import '../footerStyle/footer';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$font: 'Roboto', sans-serif;
$colorBackGroundGeralBright: rgb(39, 151, 255);
$colorBackGroundGeralTop: rgb(91, 123, 183);
$colorBackGroundGeral: rgba(104, 158, 212, 1);
$colorBackGroundFooter: rgba(28, 30, 33, 1);
@mixin texthidden($rowquantity) {
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: $rowquantity;
  -webkit-box-orient: vertical;
}
.header {
  height: 4vw;
}
.header__link {
  position: absolute;
  z-index: 1;
  top: 5.5vw;
  left: 8%;
  display: inline-flex;
  align-items: center;
  gap: 0.52vw;
  font-weight: 400;
  font-size: 0.73vw;
  a {
    color: rgba(60, 60, 60, 1);
    opacity: 50%;
    text-decoration: none;
  }
  p {
    color: rgba(29, 128, 235, 1);
    margin: 0;
  }
  img {
    width: 0.42vw;
  }
}
body,
.newscard__body {
  background-color: rgb(241, 244, 248);
}
.news,
.newscard__date,
.newscard__body_sm {
  background-color: white;
}
.news__title {
  font: 700 2.25vw $font;
  color: $colorTitle;
  margin-bottom: 2vw;
  &_sm {
    font: 700 1.2vw $font;
    margin-bottom: 1.2vw;
    color: rgba(20, 20, 20, 1);
  }
}
.all {
  padding: 4.6% 8% 5.5%;
  display: grid;
  grid-template: 1fr/3fr 1fr;
  gap: 1.2vw;
  .news {
    padding: 2vw;
  }
}
.newscard {
  display: flex;
  &_sm {
    margin-bottom: 0.8vw;
  }
}
.newscard__img {
  flex-basis: 38%;
  &_sm {
    flex-basis: 33%;
  }
  img {
    width: 100%;
    display: block;
  }
}
.newscard__body {
  flex-basis: 62%;
  padding: 2.5% 3% 3% 3%;
  &_sm {
    flex-basis: 67%;
    padding: 0 3% 0;
  }
}
.newscard__date {
  width: max-content;
  padding: 0.4vw;
  font: 400 0.6vw $font;
  color: $colorText;
  margin-bottom: 1vw;
  &_md {
    margin-bottom: 0.7vw;
  }
  &_sm {
    margin: 0.2vw 0 0 0;
    background-color: rgb(241, 244, 248);
  }
}
.newscard__title {
  font: 700 1.8vw $font;
  color: rgba(20, 20, 20, 1);
  margin-bottom: 1vw;
  width: 92%;
  &_md {
    font: 700 1.1vw $font;
    margin-bottom: 0.8vw;
  }
  &_sm {
    font: 700 0.8vw $font;
    margin-bottom: 0.3vw;
    @include texthidden(1);
  }
}
.newscard__text {
  font: 400 1vw $font;
  color: $colorText;
  line-height: 1.3vw;
  margin: 0;
  width: 92.5%;
  &_md {
    @include texthidden(3);
    font: 400 0.9vw $font;
    padding-right: 25%;
  }
  &_sm {
    @include texthidden(2);
    font: 400 0.7vw $font;
    line-height: 0.9vw;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loupe {
  height: 1vw;
}
.card-container-main {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  gap: 1.5vw;
}
.news_aside {
  display: flex;
  flex-flow: column;
  section {
    margin-bottom: 1.5vw;
  }
  @media screen and (max-width: 768px) {
    flex-flow: row;
  }
}
.paginator {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
li.page-item a.page-link {
  margin: 0.5vw;
  border-color: rgba(159, 184, 210, 1);
  width: 2.5vw;
  height: 2.5vw;
  text-align: center;
  color: rgba(32, 62, 117, 1);
  font: 700 1vw $font;
  display: flex;
  justify-content: center;
  align-items: center;
  &:last-child {
    border-radius: 0%;
  }
}
li.page-item.active a {
  color: white;
  font: 700 1vw $font;
  background-color: rgba(29, 128, 235, 1);
}
a.page-link span {
  color: rgba(29, 128, 235, 1);
}
@media screen and (max-width: 769px) {
  .header {
    height: 5vw;
  }
  .news__title_sm {
    font: 700 2.25vw $font;
    margin-bottom: 0;
    border: 0.5vw solid rgb(241, 244, 248);
    height: 8vw;
    padding-top: 2vw;
    text-align: center;
  }
  .all {
    padding: 4.6% 5% 5.5%;
    grid-template: 1fr 10vw/1fr;
    max-height: min-content;
    gap: 0;
  }
  .newscard__date {
    font: 400 0.7vw $font;
  }
  .newscard__title {
    font: 700 2.1vw $font;
    &_md {
      font: 700 1.5vw $font;
    }
  }
  .newscard__text {
    font: 400 1.5vw $font;
    line-height: 1.7vw;
    &_md {
      @include texthidden(3);
      font: 400 1.2vw $font;
      padding-right: 25%;
    }
  }
  .all .news_aside {
    flex-flow: row;
    justify-content: space-evenly;
    max-height: 10vw;
    padding: 0%;
    section {
      width: 33.333333%;
      margin: 0 2vw;
    }
  }
  .newscard_sm {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 7vw;
  }
  .news_aside {
    display: none;
  }
  .all {
    grid-template: 1fr/1fr;
  }
  .news__title {
    font: 700 3vw $font;
  }
  .newscard__body {
    flex-basis: 80%;
    &_md {
      flex-basis: 100%;
    }
  }
  .newscard__img_md {
    display: none;
  }
  .newscard__date {
    font: 400 2vw $font;
  }
  .newscard__title {
    font: 700 3vw $font;
    &_md {
      font: 700 3vw $font;
    }
  }
  .newscard__text {
    font: 400 2vw $font;
    @include texthidden(3);
    &_md {
      display: none;
    }
  }
  .paginator_2 {
    display: none;
  }
  .paginator nav {
    display: flex;
    justify-content: center;
  }
  li.page-item a.page-link {
    margin: 3vw;
    width: 10vw;
    height: 10vw;
    font: 700 3vw $font;
  }
  li.page-item.active a {
    font: 700 3vw $font;
  }
  .footer__bottom {
    height: 20vw;
    font: 400 3vw $font;
  }
}
